<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>Some Document</title>
</head>
<body>
    <header>
        <a id="link-1" href="">Link 1</a>
        <a id="link-2" href="">Link 2</a>
        <a id="link-3" href="">Link 3</a>
    </header>
    <main>
        <section class="section-1">
            <h1 class="section-1-heading">Document Heading 1</h1>
            <p class="section-1-paragraph">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut minus tempora, nobis quibusdam suscipit sequi amet blanditiis cumque rerum minima!</p>
            <button type="button">Button 1</button>
        </section>
        <section class="section-2">
            <h1 class="section-2-heading">Document Heading 2</h1>
            <p class="section-2-paragraph">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam voluptatibus dolores ea. Sint ipsa magni recusandae earum beatae, nemo reiciendis soluta dicta quae non, voluptates et, ut dolor excepturi. Laborum!</p>
            <button type="button">Button 2</button>
        </section>
    </main>
    <footer>
        <address>
            Somewhere University, New York
            <span>Copyright&copy; 2023</span>
        </address>
    </footer>
</body>
</html>